

<section class="content text-center">
	<h1 class="content-title">Welcome to Horbee's Rock, Paper, Scissors game!</h1>
</section>

<section class="images">
	<div class="row">
		<div class="col-sm-12 text-center">
			<%= image_tag("rps.png", :class => 'img-fluid item-container') %>
			<figure class="item" id="0"><%= image_tag("rock.png", :class => 'img-fluid rock') %></figure>
			<figure class="item" id="1"><%= image_tag("paper.png", :class => 'img-fluid paper') %></figure>
			<figure class="item" id="2"><%= image_tag("scissors.png", :class => 'img-fluid scissors') %></figure>

			<p class="label">Computer's Choise:</p>
			<h2 class="status-text">Click to Start!</h2>
			<%= image_tag("scissors.png", size: "200x200", :class => 'img-fluid computer animated bounceInDown', :id => 'computer', 
			data: { rock_icon: asset_path('rock.png'), paper_icon: asset_path('paper.png'), scissors_icon: asset_path('scissors.png') } 
			) %>
		</div>
	</div>
</section>


<!-- Modal Save -->
<div class="modal fade" id="savescoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Save your score in the database</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p>Thank you for playing, you did awesome!</p>
        <p id="rate">Win / Lose: Rate: </p>      

        <%= render :template => 'highscores/new' %>
	    <%= yield :insert_form %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Scores -->
<div class="modal fade" id="highscoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Top 10 best scores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name</th>
		      <th scope="col">Played Matches</th>
		      <th scope="col">Rate</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% num = 1 %>
		  	<% @scores.each do |i| %>
			  	<tr>
			      <th scope="row"><%= num %></th>
			      <td><%= i.name %></td>
			      <td><%= i.win + i.lose %></td>
			      <td><%= number_with_precision(i.rate, precision: 2) %></td>
			    </tr>
			    <% num += 1 %>
			<% end %>
		  </tbody>
		</table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>