<%= content_for :insert_form do %>
	<%= form_for @newScore do |f| %>
		<div class="form-group">
		  <%= f.label :name, "Your name" %>
		  <%= f.text_field :name, class: "form-control" %>
		  <%= f.hidden_field :win %>
		  <%= f.hidden_field :lose %>
		  <%= f.hidden_field :rate %>
		  <%= f.submit "Save", class: "btn btn-primary" %>
		</div>
	<% end %>
<% end %>
